
@page
@using Microsoft.AspNetCore.Identity

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div>
    <h3>Further Study Portal</h3>
    <p> Please Register to begin an application or Sign In to continue/update a current application</p>
    <button type="button" class="btn btn-danger"><a asp-area="Identity" asp-page="/Account/Register">Register</a></button>
    <button type="button" class="btn btn-success"><a asp-area="Identity" asp-page="/Account/Login">Login</a></button>


</div>

